%badge-base {
  @include inline-flexbox;
  @include text-style(14, $gray40, bold);

  min-width: 4.2rem;
  height: 2.2rem;
  padding: 0 0.8rem;
  border-radius: 0.4rem;
}

.badge {
  &-default {
    @extend %badge-base;

    color: $skyblue;
    background-color: $opacity-white-5;
  }

  &-secondary {
    @extend %badge-base;

    color: $blue;
    background-color: $opacity-white-5;
  }

  &-tertiary {
    @extend %badge-base;

    color: $orange;
    background-color: $opacity-white-5;
  }

  &-destructive {
    @extend %badge-base;

    color: $red;
    background-color: $opacity-white-5;
  }

  &-outline {
    @extend %badge-base;

    background-color: transparent;
    border: 0.1rem solid $gray40;
  }
}
